.card2 .thumb-cover2 {
    padding: 15px 20px;
    height: 100%;
    top: 0;
    position: absolute;
    bottom: 0;
    opacity: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.95);

}

.thumbnail2 {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.card2 .details2 {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.75)), color-stop(62%, rgba(0,0,0,0.36)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.36) 62%, rgba(0,0,0,0) 100%);
    top: 0;
    display: block;
    height: 60px;
    padding: 10px 15px 0;
    position: absolute;
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.card-info-container2 {
    height: 200px;
    margin-top: -100px;
    
    border-radius: 0 0 6px 6px;

}

.card2 .thumbnail2 {
    border: 0 none;
    padding: 0;
    margin: 0;
    min-height: 270px;
    position: relative;
    border-radius: 6px 6px 0 0;
}

.card-info2 {
    background-color: #FFFFFF;
    position: relative;
    height: 190px;
    margin-top: 40px;
}

.card2 {
    border-radius: 6px;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    margin-bottom: 30px;
}


.card .thumbnail2>img {
    border-radius: 6px 6px 0 0;
}


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: white;
}


.card-info2 .moving2 {
    padding: 15px;
    padding-top: 4px;
    background-color: #FFFFFF;
    position: relative;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: returnBounce;
    -moz-animation-name: returnBounce;
    -ms-animation-name: returnBounce;
    -o-animation-name: returnBounce;
    animation-name: returnBounce;
}


.card-info2 {
    background-color: #FFFFFF;
    position: relative;
    height: 120px;
    margin-top: 80px;
}


.card-info2 p {
    font-size: 14px;
    font-style: italic;
    margin: 0;
    color: #666666;
    height: 60px;
}



a, a:hover,  a:focus, 
.btn:focus, 
.btn:hover,
.btn:active, 
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
    text-decoration: none;
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}